/* 



/* Header.css */
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .header {
    height: auto;
    padding: 10px;
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .header__search {
    margin-bottom: 10px;
    width: 90%;
  }

  .header__nav {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .header__nav > a {
    margin: auto;
  }

  .header__option {
    margin: 5px;
    text-align: center;
  }

  .header__optionLineOne,
  .header__optionLineTwo {
    font-size: 12px;
  }
}
